:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --second-main-color: #212121;
  --primary-gray-color: #757575;
  --background-color: #e5e5e5;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.dark-logo {
  color: var(--title-text-color);
}
.nav {
  color: var(--second-main-color);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auto-nav {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-main-color);
  text-decoration: none;
}
.nav-second {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.002em;
  color: var(--accent-color);
}
.logo:focus .logo:hover,
.logo:focus,
.auto-nav:hover,
.auto-nav:focus,
.auto-second:hover,
.auto-second:focus,
.nav:hover,
.nav:focus,
.address-name:hover,
.address-name:focus,
.button-link:hover,
.button-link:focus,
.active {
  color: var(--accent-color);
}
.button-primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.button-all {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  width: 73px;
  height: 38px;
  left: 510px;
  top: 212px;
}
.button-link {
  border: 1px solid #000000;
  font-family: "Roboto";
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--second-main-color);
}
.white-logo {
  color: var(--primary-white-color);
}
.header-name {
  font-size: 18px;
  text-decoration: none;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-main-color);
}
.name {
  font-size: 16px;
  text-decoration: none;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--primary-gray-color);
}
.link {
  color: var(--title-text-color);
  text-decoration: none;
}
.frame {
  background-color: #2f303a;
}
.address-name {
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.auto-second {
  font-style: normal;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.main-header {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  text-transform: uppercase;
}
.second-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}
.worker {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
}
.subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--second-main-color);
  text-transform: uppercase;
}
.description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-gray-color);
}
